body {
  color: aliceblue;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(
    88.8deg,
    rgb(239, 171, 245) 13.4%,
    rgb(196, 181, 249) 76.3%
  );
}
.weather-app {
  background: linear-gradient(
    112.1deg,
    rgb(27, 34, 60) 11.4%,
    rgb(43, 53, 86) 70.2%
  );
  max-width: 570px;
  display: block;
  margin: 70px auto;
  padding: 18px 14px;
  border-radius: 16px;
  box-shadow: 20px 15px 32 px 5px rgba(0, 0, 0, 0.2);
}
a {
  color: rgb(96, 115, 178);
}
.search-area {
  text-align: center;
  margin-bottom: 40px;
}
.search-input,
.search-button {
  padding: 12px;
  border-radius: 4px;
  border-style: none;
  background: linear-gradient(
    112.1deg,
    rgb(77, 90, 135) 11.4%,
    rgb(68, 87, 147) 70.2%
  );
}
.search-input {
  width: 370px;
  position: relative;
  left: -6px;
}
.search-button {
  width: 180px;
  position: relative;
  right: -6px;
}
.main-weather-area {
  height: 180px;
  text-align: center;
}
.degrees {
  font-size: 30px;
  position: relative;
  top: -50px;
}
.currently {
  display: block;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.big-temp {
  font-size: 93px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  position: relative;
  left: 10px;
}
.city {
  position: relative;
  font-weight: bolder;
  top: -138px;
  font-weight: 300;
  font-size: 34px;
}

.big-icon {
  width: 140px;
  height: 140px;
  display: block;
  position: relative;
  left: 197px;
  bottom: 60px;
}
.weather-condition-group {
  padding: 0%;
  text-align: center;
  margin: 40px 10px;
}
.specific-weather-description {
  display: inline-block;
  padding-left: 5px 0px;
}
.date,
.weather-description,
.weather-conditions {
  line-height: 20px;
  padding: 10px;
  margin: 0px 5px;
  border-radius: 4px;
  width: 150px;
  background: linear-gradient(
    112.1deg,
    rgb(77, 90, 135) 11.4%,
    rgb(68, 87, 147) 70.2%
  );
}
.weather-forecast {
  text-align: center;
}

footer {
  margin-top: 20px;
}
